<div id="singleRoll" class="tabcontent">
    <h3></h3>
    <table class="diceTable">

        <div class="diceFaceCount" ng-click="rollD2()">D2</div>
        <div class="diceFaceCount" ng-click="rollD4()">D4</div>
        <div class="diceFaceCount" ng-click="rollD6()">D6</div>
        <div class="diceFaceCount" ng-click="rollD8()">D8</div>
        <div class="diceFaceCount" ng-click="rollD10()">D10</div>
        <div class="diceFaceCount" ng-click="rollD12()">D12</div>
        <div class="diceFaceCount" ng-click="rollD20()">D20</div>


    </table>
    <div class="numPad">
        <div class="numPad0 numP numPadTextClass"><input type="text" class="diceCalcText" id="numPadText" /></div>
        <div class="numPad1 numP">1</div>
        <div class="numPad2 numP">2</div>
        <div class="numPad3 numP">3</div>
        <div class="numPad4 numP">4</div>
        <div class="numPad5 numP">5</div>
        <div class="numPad6 numP">6</div>
        <div class="numPad7 numP">7</div>
        <div class="numPad8 numP">8</div>
        <div class="numPad9 numP">9</div>
        <div class="numPad10 numP">-</div>
        <div class="numPadPlus numP">0</div>
        <div class="numPadMinus numP">+</div>
    </div>
    <div id="Saves" class="tabcontent">
</div>
